body
{
	background-color: beige;
	color: blue; 
	margin: 10;
}



 p#articulo
 {
 	box-shadow: 2px 7px 8px orange;
 	font-size: 20px;
 	color: #1162ac;

 }

p#aside
 {
 	color: chocolate;
 	font-family: charlemagne;
	background-color: pink; 
	letter-spacing: 3px;
 }

 div
 {
 	text-shadow: 2px 4px 6px #1162ac;
 	background-color: white; 	
 	box-shadow: 2px 7px 50px orange;
 }

 form
 {
 	background-color: orange;
 	color: black;
 }

 input 
 {
 	background-color: gray;
 	color: blue;	
 }

input[required]{
  border-color:blue;
  box-shadow:0px 0px 5px blue;
}
input:invalid{
  border-color:red;
  box-shadow:0px 0px 5px blue;
}
input:valid{
	border-color:green;
	box-shadow:0px 0px 5px green;
}

hr
{
	border-width: 4px; 
	border-style: dotted;
	border-color:red;
	
}